.rsLinks {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1200px;
  margin: 2rem auto;

  a {
    .logo {
      width: 50px;
      height: auto;
    }

    .logo:hover {
      transform: scale(1.1);
      transform: rotate(10deg);
    }
  }
}

.title {
  margin-top: 2rem;
  font-size: 2rem;
}

.wrapper {
  display: flex;
  gap: 2rem;
  align-items: center;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1200px;
  padding: 2rem 0;
  margin: 0 auto;

  .onePerson {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 30%;

    .photo {
      max-width: 300px;
      height: auto;
      border-radius: 50%;

      &:hover {
        filter: contrast(1.1);
        filter: brightness(1.1);
        transform: rotate(10deg);
      }
    }

    .name {
      margin: 10px 0;
      font-size: 1.5rem;
    }

    .info {
      font-size: 0.8rem;
      text-align: start;
    }

    .links {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: flex-start;
      margin: 0 0 1rem 0;

      .gitLink {
        .logo {
          width: 50px;
          height: 50px;

          &:hover {
            transform: scale(1.05);
            transform: rotate(10deg);
          }
        }
      }

      .cvLink {
        .logo {
          width: 50px;
          height: 50px;
          border-radius: 20%;

          &:hover {
            transform: scale(1.05);
            transform: rotate(10deg);
          }
        }
      }
    }
  }
}

.contribution {
  max-width: 800px;
  margin: 2rem auto;
  font-size: 1rem;
  text-align: start;
}

.teamworkImage {
  width: 75%;
  max-width: 800px;
  height: auto;
  margin: 2rem auto;
  border-radius: 10px;

  &:hover {
    filter: contrast(1.1);
    filter: brightness(1.1);
  }
}

.mentors {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  max-width: 1200px;
  margin: 2rem auto;

  img {
    width: 400px;
    height: auto;
    border-radius: 50%;

    &:hover {
      filter: contrast(1.1);
      filter: brightness(1.1);
      transform: rotate(10deg);
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    .onePerson {
      width: 100%;
    }
  }

  .title {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .contribution {
    margin: 1rem;
    font-size: 0.8rem;
  }
}
