.button {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  background: #4CAF50;
  border-radius: 5px;
}

.button:hover,
.button:active,
.button:focus {
  background: #43A047;
}

.buttonDisabled {
  width: 100%;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 0.5rem;
  color: #080000;
  text-transform: uppercase;
  cursor: default;
  background: #e1e1e1; 
  border-radius: 5px;
}