@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.profile {
  max-width: 800px;
  padding: 10px;
  margin: 10px 0 10px 0;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 5px;
  transition: all 1s;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 1s;
}

.h2 {
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 1s;
}

.text {
  font-size: 0.5rem;
  color: rgba(0, 0, 0);
  transition: all 1s;
}

.error {
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
  color: rgba(255, 0, 0, 0.5);
  transition: all 1s;
}

.buttonContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  .signup {
    max-width: 340px;
  }

  .container {
    flex-direction: column;
    gap: 0;
  }

  .h1 {
    font-size: 0.75rem;
    margin-bottom: 0;
  }

  .text {
    font-size: 0.33rem;
  }
}
