.card {
    cursor: pointer;
}

.card:hover {
    box-shadow: 1px 5px 5px rgba(90, 90, 90, 0.481);
    filter: brightness(1.05);
    border-radius: 0.5rem;
}

.cardImg {
    height: 20rem;
    width: auto;
    object-fit: cover;
    border-radius: 1rem;
    padding: 1rem;
    border-radius: 2rem;
}

.card pre {
    margin: 0;
    padding: 0;
}

.price {
    font-size: 0.5rem;
    font-weight: bold;
    text-decoration: line-through;
}

.discountPrice {
    font-size: 0.8rem;
    font-weight: bold;
}

.priceWrap {
    margin-top: 0.5rem;
}

.cardTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.cardTitle:hover {
    cursor: pointer;
    color: grey;
}