.wrapper{ 
    height: 80px;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: white;
    background-color: #5a6b47;
}
  
.logo {
    font-size: 1rem;
}
  
.links {
    display: flex;
    gap: 20px;
}
  
.links a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}
  
.links a:hover {
    color: #00cc00; /* Измените цвет при наведении на ссылку */
}
  
@media (max-width: 768px) {
    .wrapper{ 
        height: 30px;
    }

    .navbar {
        padding: 0px;
    }

    .logo {
        font-size: 0.5rem;
    }
  
    .links {
        gap: 10px;
    }
  
    .links a {
        font-size: 0.5rem;
    }
}