.container {
  position: relative;
  width: 100%;
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif; 
  font-size: 0.5rem; 
  color: var(--bs-body-color); 
  color-scheme: auto;
  background: #f2f2f2;
  background-color: #ffffff; 
  border: 1px #e2e5e9 solid;
  border-radius: 5px; 
}

.button { 
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  display: flex;
  align-items: center;
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: white;
  border-color: none;
  transform: translateY(-50%); 
}

.img {
  width: 1rem;
  height: 1rem;
  opacity: 0.5;
}

.helper {
  margin-top: -10px; 
  font-size: 0.5rem;
  color: #ff9191;
} 

@media screen and (max-width: 800px) {
  .input { 
    padding: 5px;
    margin-bottom: 5px;
    font-size: 0.33rem
  }

  .helper{
    margin-top: -5px;
    font-size: 0.33rem 
  }

  .button {
    top: 1.05rem;
    width: 0.66rem;
    height: 0.66rem
  }
  .img {
    width: 0.66rem;
  }
}