@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.signup {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  max-width: 800px;
  padding: 10px;
  margin: 10px 0 10px 0;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 5px;
  transition: all 0.5s;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.h1 {
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.error {
  margin-bottom: 0.5rem;
  font-size: 0.5rem;
  color: rgba(255, 0, 0, 0.5);
  transition: all 0.5s;
}

.p {
  margin: 1rem 0 0;
  font-size: 0.5rem;
  color: #b3b3b3;

  a {
    color: #4caf50;
    text-decoration: none;
  }
}

@media screen and (max-width: 800px) {
  .form {
    max-width: 360px;
    padding: 10px;
  }

  .container {
    flex-direction: column;
  }

  .headline {
    font-size: 1rem;
  }
}
