.text1 {
    color: black;
    text-shadow:
            0 0 1px #fff,
            0 0 2px #fff,
            0 0 5px #fff,
            0 0 11px #9c794f,
            0 0 20px #3f3222,
            0 0 30px #fff,
            0 0 55px #9c794f,
            0 0 80px #3f3222;
}

.img {
 width: 30%;
}