.aside {
    grid-area: aside;
    font-size: 1.5rem;
    padding: 2rem;
    min-width: 400px;
}

.aside div {
    margin-top: 3rem;
}

.aside div:first-child {
    margin-top: 0rem;
}

.aside div:first-child input {
    margin-top: 0rem;
    width: 100%;
}

.aside div select {
    width: 100%;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    padding: 0.3rem;
}

.aside div h4 {
    width: 100%;
}

.aside div input {
    background-color: #fff;
    color: black;
    border-radius: 5px;
    padding: 0.3rem;
}